
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.News-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 67px;
}

.News-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 4vh;
}

.News-container img{
    width: 1500px;
    max-width: 100%;
    height: 650px;
}

@media (max-width: 768px) {
    .News-container {
        margin-top: 5vh;
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .News-container h2 {
        font-size: 24px;
        margin-bottom: 4vh;
        text-align: center;
        line-height: 1.3;
    }

    .News-container img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}


@media (max-width: 480px) {
    .News-container {
        margin-top: 4vh;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .News-container h2 {
        font-size: 17px;
        margin-bottom: 3vh;
    }

    .News-container img {
        max-width: 350px;
    }
}
  